// fe/src/styles/fonts

@font-face{
    font-family: "AlfaSlabOne-Regular";
    src: url("../assets/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "DMSerifDisplay-Regular";
    src: url("../assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "DMSerifDisplay-Italic";
    src: url("../assets/fonts/DM_Serif_Display/DMSerifDisplay-Italic.ttf") format("truetype");
}

@font-face{
    font-family: "LibreBaskerville-Regular";
    src: url("../assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "LibreBaskerville-Italic";
    src: url("../assets/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf") format("truetype");
}


@font-face{
    font-family: "LibreBaskerville-Bold";
    src: url("../assets/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf") format("truetype");
}


// NataSans

@font-face{
    font-family: "NataSans-Black";
    src: url("../assets/fonts/Nata_Sans/static/NataSans-Black.ttf") format("truetype");
}

@font-face{
    font-family: "NataSans-Bold";
    src: url("../assets/fonts/Nata_Sans/static/NataSans-Bold.ttf") format("truetype");
}

@font-face{
    font-family: "NataSans-ExtraBold";
    src: url("../assets/fonts/Nata_Sans/static/NataSans-ExtraBold.ttf") format("truetype");
}

@font-face{
    font-family: "NataSans-ExtraLight";
    src: url("../assets/fonts/Nata_Sans/static/NataSans-ExtraLight.ttf") format("truetype");
}

@font-face{
    font-family: "NataSans-Light";
    src: url("../assets/fonts/Nata_Sans/static/NataSans-Light.ttf") format("truetype");
}

@font-face{
    font-family: "NataSans-Medium";
    src: url("../assets/fonts/Nata_Sans/static/NataSans-Medium.ttf") format("truetype");
}

@font-face{
    font-family: "NataSans-Regular";
    src: url("../assets/fonts/Nata_Sans/static/NataSans-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "NataSans-SemiBold";
    src: url("../assets/fonts/Nata_Sans/static/NataSans-SemiBold.ttf") format("truetype");
}

@font-face{
    font-family: "NataSans-Thin";
    src: url("../assets/fonts/Nata_Sans/static/NataSans-Thin.ttf") format("truetype");
}



// Pacifico
@font-face{
    font-family: "Pacifico-Regular";
    src: url("../assets/fonts/Pacifico//Pacifico-Regular.ttf") format("truetype");
}


